# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
.build/
dist/
build/
.venv/
venv/
.env
.env.*
pip-wheel-metadata/
.coverage*
htmlcov/

# IDE/Editor
.vscode/
.idea/

# Logs
*.log

# Local config
config.local.yaml

# Miners / binaries (you bring your own)
miners/
C:/miners/
C:\miners\
